@font-face {
    font-family: Primus-bold;
    src: url("../fonts/Primus Bold.otf");
    font-family: Primus-regular;
    src: url("../fonts/Primus Regular.otf");
}

* {
    margin: 0;
    padding: 0;
    font-family: Primus-regular;
    box-sizing: border-box;
}

:root {
    --red: #d60001;
    --blue: #002e40;
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
}

.icon-container {
    display: flex;
}

.icon-container a img {
    position: absolute;
    right: 20px;
    top:5px;
}

.hamburger-container {
    display: flex;
    flex-direction: column;
}

header img {
    width: 65px;
}

.fa-bars {
    font-size: 2rem;
    margin: 25px;
    color: var(--red);
}

nav {
    display: none;
    z-index: 1;
}

nav ul {
    padding: 0px 50px;
    background-color: var(--blue);
    width: 100vw;
    margin-top:10px;
}

nav ul li {
    list-style: none;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}


body{
    min-height: 100vh;
}
/* Footer */

footer {
    margin-top: 20px;
    min-height: 200px;
    background-color: var(--blue);
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    
       
    /* position:absolute;
    bottom:0; */
} 

footer h3 {
    margin-top: 10px;
}

.footer-info-left {
    margin-left: 10px;
}

.footer-info-right {
    margin-right: 10px;
}

footer h3,
footer p {
    font-size: 12px;
}

::placeholder {
    color: black;
    font-size: 0.8rem;
}

.footer-info-left {
    margin-left:10px;
}

.footer-info-right input{
    width:75%;
    
}
