
.index{
    display:grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    grid-template-rows: repeat(5, 400px);
    grid-template-areas:
    "first-item"
    "sec-item"
    "third-item"
    "four-item"
    "five-item"
}


.first-item-index{
    min-width:90%;
    height:400px;
    background-image: url("../images/billetto-editorial-334686-high-res.jpg");
    align-items: center;
    background-size:cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: first-item;

}

.first-item-index div{
    background-color:var(--blue);
    height:40%;
    text-align:center;
    color:white;
}

.button{
    color:white;
    text-decoration: none;
    text-align: center;
    line-height:55px;
    font-size:2rem;
    width:150px;
    height:55px;
    background-color:var(--red);
    margin-bottom:20px;
}

.first-item-index h1 {
    font-weight:normal;
    font-size:1.5rem;
    margin:20px;
}


/* universal items rules */

.item-index{
    min-width:90%;
    height:400px;
    margin:0px 10px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.item-index div{
    background-color:var(--blue);
    height:40%;
    text-align:center;
    color:white;
}

.button-index{
    padding:10px;
    background-color:var(--red);
    color:white;
    text-decoration: none;
}

.item-index h2{
    margin:10px;
    font-weight:normal;
}

.item-index p{
    margin-bottom:25px;

}

/* items */

.sec-item-index{
    grid-template-areas:sec-item;
    background-image: url("../images/andrew-ruiz-348421.jpg");
    background-size:cover;
}

.third-item-index{
    grid-template-areas: third-item;
    background-image: url("../images/mammoth-1257288_1920.jpg");
    background-size:cover;

}

.four-item-index{
    grid-template-areas: four-item;
    background-image: url("../images/pexels-photomix-company-518244.jpg");
    background-size:cover;

}

.five-item-index{
    grid-template-areas: five-item;
    background-image: url("../images/pexels-pavel-danilyuk-8294651.jpg");
    background-size:cover;
    background-position: center;

}

/* Exhibition-all.html */


.grid-container-ex-all{
    display:grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows:repeat(4, 400px);
    row-gap: 10px;
}

.item-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../images/billetto-editorial-334686-high-res.jpg");
    background-size: cover;
    height:300px;

}

.item-card{
    height:120px;
    background-color:var(--blue);
    color:white;
    width:80%;
    align-self: center;
    position: relative;
    top:50px;
    text-align: center;
    filter:drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));

}

.item-card p, .item-card h1{
    color:white;
}

.item-card h1, .item-card h2{
    font-weight:normal;
    font-size: 1.5rem;
    margin:10px;
}

.item-card p{
    font-size:0.8rem;
}

.ex-item-two{
    background-image: url("../images/andrew-ruiz-348421.jpg");
}

.ex-card-two{
    background-color:white;
    
    
}

.item-card a{
    text-decoration: none;
}


.ex-card-two p, .ex-item-two h2{
    color:black;
    font-weight: normal;
}














