@font-face {
    font-family: Primus-bold;
    src: url("../fonts/Primus Bold.otf");
    font-family: Primus-regular;
    src:url("../fonts/Primus Regular.otf")
}

*{
    margin:0;
    padding:0;
    font-family: Primus-regular;
    box-sizing: border-box;
}

:root{
    --red:#D60001;
    --blue:#002E40;

}

nav{
    display:none;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
    border:black solid 1px;

}
header img{
    width:65px;
    margin:25px;
}

.fa-bars{
    font-size:2rem;
    margin:25px;
    color: var(--red)

}

main{
    display:flex;
    flex-direction: column;
}

.button{
    width:150px;
    height:45px;
    background-color: var(--red);
    position: relative;
    bottom:50px;
    left:100px;
}

.info-main-pic{
    height:200px;
    background-color:var(--blue);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:-5px;
}

.info-main-pic h1, .info-main-pic p{
    color:white;
    font-weight: normal;
    text-align: center;
    margin:10px;

}
.info-main-pic p{
    max-width: 300px;
    margin:0 auto;
    

}


