
.index{
    display:grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    grid-template-rows: repeat(5, 400px);
    grid-template-areas:
    "first-item"
    "sec-item"
    "third-item"
    "four-item"
    "five-item"
}


.first-item-index{
    min-width:90%;
    height:400px;
    background-image: url("../images/billetto-editorial-334686-high-res.jpg");
    align-items: center;
    background-size:cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: first-item;

}

.first-item-index div{
    background-color:var(--blue);
    height:40%;
    text-align:center;
    color:white;
}

.button{
    color:white;
    text-decoration: none;
    text-align: center;
    line-height:55px;
    font-size:2rem;
    width:150px;
    height:55px;
    background-color:var(--red);
    margin-bottom:20px;
}

.first-item-index h1 {
    font-weight:normal;
    font-size:1.5rem;
    margin:20px;
}


/* universal items rules */

.item-index{
    min-width:90%;
    height:400px;
    margin:0px 10px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.item-index div{
    background-color:var(--blue);
    height:40%;
    text-align:center;
    color:white;
}

.button-index{
    padding:10px;
    background-color:var(--red);
    color:white;
    text-decoration: none;
}

.item-index h2{
    margin:10px;
    font-weight:normal;
}

.item-index p{
    margin-bottom:25px;

}

/* items */

.sec-item-index{
    grid-template-areas:sec-item;
    background-image: url("../images/andrew-ruiz-348421.jpg");
    background-size:cover;
}

.third-item-index{
    grid-template-areas: third-item;
    background-image: url("../images/mammoth-1257288_1920.jpg");
    background-size:cover;

}

.four-item-index{
    grid-template-areas: four-item;
    background-image: url("../images/pexels-photomix-company-518244.jpg");
    background-size:cover;

}

.five-item-index{
    grid-template-areas: five-item;
    background-image: url("../images/pexels-pavel-danilyuk-8294651.jpg");
    background-size:cover;
    background-position: center;

}









